extends ../layout
block content
    - var poster = show.images.poster
    a.thumbnail.span3
        img(src="#{poster.replace('.jpg', '-300.jpg')}")
    .offset3
        h4 #{show.title}
        p #{show.overview}

        b Год выхода:

        |  #{new Date(parseInt(show.first_aired*1000)).toLocaleDateString()}
        br
        br
        a.pull-right.btn.ajax.btn-info(href="/show/#{show.tvdb_id}/seasons/") Список сезонов
        br
        br
        div#seasons_list
        br
        if (!isGuest)
            if (watchedByUser)
                a.btn.btn-success.ajax.hide(href="javascript:void(0)")
                    i.icon-ok.icon-white
                    | &nbsp;Я его смотрю!
                a.btn.btn-danger.ajax(href="/show/remove/#{show.tvdb_id}/")
                    i.icon-ban-circle.icon-white
                    | &nbsp;Я его не смотрю!
            else
                a.btn.btn-success.ajax(href="/show/add/#{show.tvdb_id}/")
                    i.icon-ok.icon-white
                    | &nbsp;Я его смотрю!
                a.btn.btn-danger.hide.ajax(href="/show/remove/#{show.tvdb_id}/")
                    i.icon-ban-circle.icon-white
                    | &nbsp;Я его не смотрю!